extends layout

block content
  .site-wrapper
    .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand My Résumé
              ul.nav.masthead-nav
                li.active
                  a(href='#') About Me
                li
                  a(href='#') Experiences
                li
                  a(href='#') Education
                li
                  a(href='#') Awards
          .inner.cover
            h1.cover-heading My name is Khoa Tran.
            p.lead
              | A tech geek who loves developing awesome products.
            p.lead
              a.btn.btn-lg.btn-default(href='#') My short story
          .mastfoot
            .inner
              p
                a(href='mailto:tvkkpt@gmail.com') Want to contact me?
//  h1= title
//  p Welcome to #{title}
